<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-0"> Journals </h3>
    <br>
    <p>Eigen-Entropy: A Metric on Multi-variate Sampling Decision
    <br>Jiajing Huang, Hyunsoo Yoon, Teresa Wu, K. Selcuk Candan, <b>Ojas Pradhan</b>, Jin Wen and Zheng O'Neill
    <br><em>Information Sciences, 2022 (Accepted)</em></p>
   
    <p><a href="https://www.tandfonline.com/doi/abs/10.1080/23744731.2022.2080110">A Cosine-based Correlation Information Entropy Approach for Building Automatic Fault Detection Baseline Construction</a>
    <br>Jiajing Huang, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Teresa Wu, Jin Wen, Zheng O'Neill and K. Selcuk Candan
    <br><em>Science and Technology for the Built Environment, 2022</em></p>

    <p>Real vs. Simulated: questions on the capability of simulated datasets on building fault detection for energy efficiency from a data-driven perspective
    <br>Jiajing Huang, Jin Wen, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Teresa Wu, Zheng O'Neill and K. Selcuk Candan
    <br><em>Energy and Buildings, 2022</em></p>

    <p>Using Discrete Bayesian Networks for Diagnosing and Isolating Cross-level Faults in HVAC Systems
    <br>Yimin Chen, Jin Wen, <b>Ojas Pradhan</b>, James Lo and Teresa Wu
    <br><em>Applied Energy (Under Review)</em></p>

    <br>
    <h3 class="fw-bold border-bottom pb-3 mb-0">Conference Presentations</h3>
    <br>
    <p>Lagged-kNN Based Data Imputation Approach for Multi-Stream Building Systems Data
    <br><b>Ojas Pradhan</b>, David Hälleberg, Zhelun Chen, Jin Wen, Teresa Wu, K. Selcuk Candan and Zheng O'Neill
    <br><em>7th International High-Performance Buildings Conference at Purdue. July 11-14, 2022.</em></p>

    <p>Dynamic Bayesian Network-based Fault Diagnosis for ASHRAE Guideline 36: High Performance Sequence of Operation for HVAC Systems
    <br><b>Ojas Pradhan</b>, Jin Wen, Yimin Chen, Xing Lu, Mengyuan Chu, Yangyang Fu, Zheng O'Neill, Teresa Wu and K. Selcuk Candan
    <br><em>In Proceedings of the 8th ACM International Conference on Systems for Energy-Efficient Buildings, Cities, and Transportation (pp. 365-368). November 17-18, 2021.</em></p>

    <p>Automatic Fault Detection Baseline Construction for Building HVAC Systems using Joint Entropy and Enthalpy
    <br>Jiajing Huang, Teresa Wu, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Jin Wen and Zheng O'Neill
    <br><em>In Proceedings of 2021 IISE Annual Conference , pp.536-541, 2021. (Finalist in 2021 IISE Best Paper Award)</em></p>

    <p>Dynamic Bayesian Network for Fault Diagnosis
    <br><b>Ojas Pradhan</b>, Jin Wen, Yimin Chen, Teresa Wu and Zheng O'Neill
    <br><em>2021 ASHRAE Virtual Conference. June 28 - June 30, 2021.</em></p>

    <p>Development and Validation of a Simulation Testbed for the Intelligent Building Agents Laboratory (IBAL) using TRNSYS
    <br><b>Ojas Pradhan</b>, Amanda Pertzborn, Liang Zhang and Jin Wen
    <br><em>2020 ASHRAE Virtual Conference. June 29 - July 1, 2020.</em></p>

    <p>Bayesian Networks for Whole Building Level Fault Diagnosis and Isolation
    <br>Yimin Chen, Jin Wen, Taiyu Chen and <b>Ojas Pradhan</b>
    <br><em>5th International High-Performance Buildings Conference at Purdue. July 9-12, 2018.</em></p>
  </div>
</div>
