<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-0"> Journals </h3>
    <br>
    <p>Eigen-Entropy: A Metric on Multi-variate Sampling Decision
    <br>Huang, J., Yoon, H., Wu, T., Candan, K. S., <b>Pradhan, O.</b>, Wen, J., &O'Neill, Z.
    <br><em>Information Sciences (Accepted)</em></p>

    <ul>
      <li>
        Huang, J., Yoon, H., Wu, T., Candan, K. S., <b>Pradhan, O.</b>, Wen, J., & O'Neill, Z. (2022). Eigen-Entropy: A Metric on Multi-variate Sampling Decision. Information Sciences. (Accepted) 
      </li>
      <li>
        Huang, J., Yoon, H., <b>Pradhan, O.</b>, Wu, T., Wen, J., O'Neill, Z., & Candan, K. S. (2022). A Cosine-based Correlation Information Entropy Approach for Building Automatic Fault Detection Baseline Construction. Science and Technology for the Built Environment. 
      </li>
      <li> 
        Huang, J., Wen, J., Yoon, H., <b>Pradhan, O.</b>, Wu, T., O'Neill, Z., & Candan, K. S. (2022). Real vs. Simulated: questions on the capability of simulated datasets on building fault detection for energy efficiency from a data-driven perspective. Energy and Buildings.
      </li>
      <li> 
        Chen, Y., Wen, J., <b>Pradhan, O.</b>, Lo, J., & Wu, T. (2021). Using Discrete Bayesian Networks for Diagnosing and Isolating Cross-level Faults in HVAC Systems. Applied Energy. (under review)
      </li>
    </ul>
    <br>

    <h3 class="fw-bold border-bottom pb-3 mb-0">Conference Presentations</h3>
    <br>
    <ul>
      <li> 
        <b>Pradhan, O.</b>, Hälleberg, D., Chen, Z., Wen, J., Wu, T., Candan, K. S., & O'Neill, Z (2022). Lagged-kNN Based Data Imputation Approach for Multi-Stream Building Systems Data. 7th International High-Performance Buildings Conference at Purdue. July 11-14, 2022.
      </li>
      <li>
        <b>Pradhan, O.</b>, Wen, J., Chen, Y., Lu, X., Chu, M., Fu, Y., O'Neill, Z, Wu, T., & Candan, K. S. (2021). Dynamic Bayesian network-based fault diagnosis for ASHRAE guideline 36: high performance sequence of operation for HVAC systems. In Proceedings of the 8th ACM International Conference on Systems for Energy-Efficient Buildings, Cities, and Transportation (pp. 365-368)
      </li>
      <li>
        Huang, J., Wu, T., Yoon, H., <b>Pradhan, O.</b>, Wen, J., & O'Neill, Z. (2021). Automatic Fault Detection Baseline Construction for Building HVAC Systems using Joint Entropy and Enthalpy. In IIE Annual Conference Proceedings (pp. 536- 541)
      </li>
      <li>
        <b>Pradhan, O.</b>, Wen, J., Chen, Y., Wu, T., & O'Neill, Z. (2021). Dynamic Bayesian Network for Fault Diagnosis. 2021 ASHRAE Virtual Conference. June 28 - June 30, 2021
      </li>
      <li>
        <b>Pradhan, O.</b>, Pertzborn, A., Zhang, L., & Wen, J. (2020). Development and Validation of a Simulation Testbed for the Intelligent Building Agents Laboratory (IBAL) using TRNSYS. 2020 ASHRAE Annual Conference. June 29 - July 1, 2020
      </li>
      <li>
        Chen, Y., Wen, J., Chen, T., & <b>Pradhan, O.</b> (2018). Bayesian Networks for Whole Building Level Fault Diagnosis and Isolation. 5th International High-Performance Buildings Conference at Purdue. July 9-12, 2018
      </li>
    </ul>
  </div>
</div>
