<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-3">Journals </h3>
    <p><a href="https://www.sciencedirect.com/science/article/pii/S0306261922013071" target="blank">Using Discrete Bayesian Networks for Diagnosing and Isolating Cross-level Faults in HVAC Systems</a>
    <br>Yimin Chen, Jin Wen, <b>Ojas Pradhan</b>, James Lo and Teresa Wu
     <br><em>Applied Energy, 2022</em></p>

    <p>Eigen-Entropy: A Metric on Multi-variate Sampling Decision (Accepted)
    <br>Jiajing Huang, Hyunsoo Yoon, Teresa Wu, K. Selcuk Candan, <b>Ojas Pradhan</b>, Jin Wen and Zheng O'Neill
    <br><em>Information Sciences, 2022</em></p>
   
    <p><a href="https://www.tandfonline.com/doi/abs/10.1080/23744731.2022.2080110" target="_blank">A Cosine-based Correlation Information Entropy Approach for Building Automatic Fault Detection Baseline Construction</a>
    <br>Jiajing Huang, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Teresa Wu, Jin Wen, Zheng O'Neill and K. Selcuk Candan
    <br><em>Science and Technology for the Built Environment, 2022</em></p>

    <p><a href="https://www.sciencedirect.com/science/article/pii/S0378778822000433" target="_blank">Real vs. Simulated: questions on the capability of simulated datasets on building fault detection for energy efficiency from a data-driven perspective</a>
    <br>Jiajing Huang, Jin Wen, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Teresa Wu, Zheng O'Neill and K. Selcuk Candan
    <br><em>Energy and Buildings, 2022</em></p>

    <br>
    <h3 class="fw-bold border-bottom pb-3 mb-3">Conference Proceedings</h3>
 
    <p><a href="https://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1392&context=ihpbc" target="blank">Lagged-kNN Based Data Imputation Approach for Multi-Stream Building Systems Data</a>
    <br><b>Ojas Pradhan</b>, David Hälleberg, Zhelun Chen, Jin Wen, Teresa Wu, K. Selcuk Candan and Zheng O'Neill
    <br><em>7th International High-Performance Buildings Conference at Purdue. July 11-14, 2022.</em></p>

    <p><a href="https://dl.acm.org/doi/abs/10.1145/3486611.3491124" target="_blank">Dynamic Bayesian Network-based Fault Diagnosis for ASHRAE Guideline 36: High Performance Sequence of Operation for HVAC Systems</a>
    <br><b>Ojas Pradhan</b>, Jin Wen, Yimin Chen, Xing Lu, Mengyuan Chu, Yangyang Fu, Zheng O'Neill, Teresa Wu and K. Selcuk Candan
    <br><em>In Proceedings of the 8th ACM International Conference on Systems for Energy-Efficient Buildings, Cities, and Transportation (pp. 365-368). November 17-18, 2021.</em></p>

    <p><a href="https://asu.pure.elsevier.com/en/publications/automatic-fault-detection-baseline-construction-for-building-hvac" target="_blank">Automatic Fault Detection Baseline Construction for Building HVAC Systems using Joint Entropy and Enthalpy</a>
    <br>Jiajing Huang, Teresa Wu, Hyunsoo Yoon, <b>Ojas Pradhan</b>, Jin Wen and Zheng O'Neill
    <br><em>In Proceedings of 2021 IISE Annual Conference (pp.536-541). May 22-25, 2021. (Best Paper Award - Finalist)</em></p>

    <p><a href="https://www.researchgate.net/publication/349609066_Dynamic_Bayesian_Network_for_Fault_Diagnosis" target="_blank">Dynamic Bayesian Network for Fault Diagnosis</a>
    <br><b>Ojas Pradhan</b>, Jin Wen, Yimin Chen, Teresa Wu and Zheng O'Neill
    <br><em>2021 ASHRAE Virtual Conference. June 28-30, 2021.</em></p>

    <p><a href="https://www.researchgate.net/publication/349607362_Development_and_Validation_of_a_Simulation_Testbed_for_the_Intelligent_Building_Agents_Laboratory_IBAL_using_TRNSYS" target="_blank">Development and Validation of a Simulation Testbed for the Intelligent Building Agents Laboratory (IBAL) using TRNSYS</a>
    <br><b>Ojas Pradhan</b>, Amanda Pertzborn, Liang Zhang and Jin Wen
    <br><em>2020 ASHRAE Virtual Conference. June 29 - July 1, 2020.</em></p>

    <p><a href="https://docs.lib.purdue.edu/ihpbc/266/" target="_blank">Bayesian Networks for Whole Building Level Fault Diagnosis and Isolation</a>
    <br>Yimin Chen, Jin Wen, Taiyu Chen and <b>Ojas Pradhan</b>
    <br><em>5th International High-Performance Buildings Conference at Purdue. July 9-12, 2018.</em></p>
  </div>
</div>
