<div class="row g-5 mb-5">
    <div class="col-md-5">
        <h3 class="fw-bold border-bottom pb-3 mb-3">Skills</h3>
        <h5 class="mb-0">Programming Languages</h5>
        <div>Python, SQL, Matlab</div>
        <br>
        <h5 class="mb-0">AI/ML Libraries</h5>
        <div>Scikit-Learn, SciPy, PyTorch, TensorFlow, Keras</div>
        <br>
        <h5 class="mb-0">AI/ML Skills</h5>
        <div>Timeseries Analysis, Reinforcement Learning, Deep Learning, MLOps, Exploratory Data Analysis and Visualization</div>
        <br>
        <h5 class="mb-0">Cloud Services and Deployment Frameworks</h5>
        <div>Docker, Azure ML Studio, AWS Sagemaker</div>
        <br>
        <h5 class="mb-0">Engineering Tools</h5>
        <div>Modelica, EnergyPlus, TRNSYS, ArcGIS</div>
        <br>
        <h5 class="mb-0">Others</h5>
        <div>Git, LaTeX</div>
    </div>
    <div class="col-md-7 d-flex justify-content-end align-items-center">
        <img src="{{ site.github.url }}/assets/img/skills-image.jpg" alt="Home" width="100%" class="d-block">
    </div>
</div>
