<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-3">Skills</h3>

    <h5 class="mb-0">Programming Languages</h5>
<div>
    Python, Matlab, R, SQL, Apache Spark
</div>
<br>
<h5 class="mb-0">AI/ML Libraries</h5>
<div>
    Scikit-Learn, SciPy, PyTorch, TensorFlow, Keras
</div>                        
<br>
<h5 class="mb-0">AI/ML Skills</h5>
<div>
    MLOps, Applied Statistics, Bayesian Inference, Predictive Analysis, Data Modeling and Visualization
</div> 
<br>
<h5 class="mb-0">Cloud Services and Deployment Frameworks</h5>
<div>
    Docker, Azure ML Studio
</div>
<br>         
<h5 class="mb-0">Engineering Tools</h5>
<div>
    Dymola, Simulink, TRNSYS, EnergyPlus, LabVIEW
</div>
<br>         
<h5 class="mb-0">Others</h5>
<div>
    Git, LaTeX
</div>     
