---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6" style="text-align: justify">
    <h3 class="fw-bold border-bottom pb-3 mb-3">About</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/pradhanojas-home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12" style="text-align: justify">
    <h3 class="fw-bold border-bottom pb-3 mb-3">Updates</h3>

    <p>March 2023 - Invited to showcase my ongoing research at the <a href = <a href = "https://worldtechnologypartners.org/green-tech-trends-showcase-2023" target="blank">2023 Green Tech Trends</a> hosted by <a href = "https://www.worldtechnologypartners.org" target="blank">World Technology Partners</a> - a series of sustainability 'chats' from participants across the world to discuss smart engineering solutions</p>

    <p>July 2022 - Presented our paper <a href="https://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1392&context=ihpbc" target="blank"><em>Lagged-kNN Based Data Imputation Approach for Multi-Stream Building Systems Data</em></a> at the <a href = "https://engineering.purdue.edu/Herrick/about/news/Conferences/2022" target="_blank">2022 Herrick Conferences</a> held in Purdue University</p>

    <p>June 2022 - Successfully defended my PhD Thesis Proposal: <em>A Dynamic Bayesian Networks Framework for Data-Driven Fault Diagnosis and Prognosis of Smart Building Systems</em> (Final Thesis Defense scheduled for June 2023)</p>

    <p>May 2022 - Awarded the Linda Latham Scholarship to attend the <a href = "https://www.aceee.org/2022-buildings-summer-study" target="_blank">2022 ACEEE Summer Study on Energy Efficiency in Buildings</a> providing an excellent opportunity to interact with energy efficiency experts from around the world and acquire new research ideas</p>

    <p>April 2022 - Invited as a PhD Fellow to attend the <a href="https://engineering.unl.edu/durhamschool/fobi-workshop/"target="_blank">FoBI Workshop</a> and present during the <a href = "https://engineering.unl.edu/durhamschool/phd-symposium" target="_blank">Durham School PhD Symposium</a> held in University of Nebraska-Lincoln (UNL)</p>

    <p>November 2021 - Presented our paper <a href="https://dl.acm.org/doi/abs/10.1145/3486611.3491124" target="_blank"><em>Dynamic Bayesian Network-based Fault Diagnosis for ASHRAE Guideline 36</em></a> at the <a href = "https://www.acmbalances.org" target="_blank">1st ACM International Workshop on Big Data and Machine Learning for Smart Buildings and Cities</a> held as part of <a href = "https://buildsys.acm.org/2021" target="_blank">BuildSys'21</a></p>

    <p>June 2021 - Presented our paper <a href="https://www.researchgate.net/publication/349609066_Dynamic_Bayesian_Network_for_Fault_Diagnosis" target="_blank"><em>Dynamic Bayesian Network for Fault Diagnosis</em></a> at the <a href = "https://www.ashrae.org/conferences/2021-annual-conference" target="_blank">2021 ASHRAE Virtual Conference</a></p>

    <p>July 2020 - Presented our paper <a href="https://www.researchgate.net/publication/349607362_Development_and_Validation_of_a_Simulation_Testbed_for_the_Intelligent_Building_Agents_Laboratory_IBAL_using_TRNSYS" target="_blank"><em>Development and Validation of a Simulation Testbed for the Intelligent Building Agents Laboratory (IBAL) using TRNSYS</em></a> at the <a href = "https://www.ashrae.org/conferences/2020-virtual-annual-conference" target="_blank">2020 ASHRAE Virtual Conference</a></p>

    <p>January 2020 - Received the ASHRAE Graduate Student Scholarship - Presented by <a href = "https://ashraephilly.org" target="_blank">ASHRAE Philadelphia Chapter</a></p>    

    <p>March 2019 - Received the ASHRAE Undergraduate Student Scholarship - Presented by <a href = "https://ashraephilly.org" target="_blank">ASHRAE Philadelphia Chapter</a></p>

    <p>December 2018 - Attended the 2019 ASHRAE Winter Conference held in Atlanta, Georgia - Sponsored by <a href = "https://ashraephilly.org" target="_blank">ASHRAE Philadelphia Chapter</a></p>  
      
    <p>March 2018 - Received the Sustainable Energy Fund Scholarship to attend the 2018 Energypath Conference held in DeSales University - Presented by <a href = "https://thesef.org" target="_blank">Sustainable Energy Fund</a></p>    

  </div>
</div>
