---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/pradhanojas-home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-0">Updates</h3>
    <br>
    <p>July 13, 2022 - Presented our paper <em>Lagged-kNN Based Data Imputation Approach for Multi-Stream Building Systems Data</em> at the <a href = "https://engineering.purdue.edu/Herrick/about/news/Conferences/2022">2022 Herrick Conferences at Purdue University</a></p>
    <p>May 2, 2022 - Awarded the Linda Latham Scholarship to attend the <a href = "https://www.aceee.org/2022-buildings-summer-study">2022 ACEEE Summer Study on Energy Efficiency in Buildings</a></p>
    <p>April 21, 2022 - Selected as PhD Fellow at <a href = "https://engineering.unl.edu/durhamschool/phd-symposium"> University of Nebraska-Lincoln (UNL) Durham School of Architectural Engineering and Construction PhD Symposium</a></p>    
  </div>
</div>
